.Printer {
    padding: 1em 2em 1.3em;
    margin-bottom: 2em;
    background: rgb(248, 248, 248);
    border-radius: 10px;

    /* margin-right: 2em;
    max-width: 500px;
    float: left; */
}

.Printer:last-of-type {
    border-bottom: none;
    margin-bottom: 0;
}

.Printer-cam {
    position: relative;
    margin-bottom: 1em;
}

.Printer-cam img {
    max-width: 100%;
}

.Printer-cam span {
    position: absolute;
    bottom: 0.7em;
    right: 0.5em;
    font-size: 0.6em;
    font-family: 'Courier New', Courier, monospace;
    color: yellow;
}

.Printer-name {
    font-size: 1.5em;
}

.Printer-name-errored {
    color: red;
}

.Printer-flag {
    display: inline-block;
    border-radius: 2px;
    padding: 1px 2px;
    font-size: 0.9em;
    background: #e0e0e0;
    text-transform: capitalize;
    margin-right: 2px;
}

.Printer-flag-inactive {
    background: #e9e9e9;
    color: rgb(221, 221, 221);
}
