.Printer {
    padding-bottom: 1em;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 1em;
}

.Printer:last-of-type {
    border-bottom: none;
    margin-bottom: 0;
}

.Printer-name {
    font-size: 1.5em;
}

.Printer-name-errored {
    color: red;
}
